& when (@media-common = true) {
  h1 {
    margin: 0;
  }

  .header.content, .page-bottom {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  .header_nav_list {
    display: none;
  }

  .logo > img {
    height: auto;
  }

  .header_phone_wrapper {
    display: none;
  }

  .nav-toggle {
    top: .8rem;
  }

  .nav-toggle:before {
    font-size: 20px;
    display: inline-block;
    font-weight: bolder;
  }

  .minicart-wrapper {
    top: 14px;
    padding-right: 1rem;
  }

  .header_banner {
    padding: .5rem 0;
    background-color: @color-gray-middle4;
    color: @color-white;
    text-align: center;
    margin-top: 1.5rem;
    font-weight: 600;
    font-size: ceil(@font-size__base * 0.9);
    clear: both;

    text-transform: uppercase;

    .header_banner_text_link {
      font-weight: 400;
      text-transform: none;
      color: @color-white;
    }
  }

  // Main

  .main_sailing_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    background: @color-gray-light1;

    .main_sailing_header {
      font-weight: 600;
      color: @color-black;
    }

    .main_sailing_info {
      color: @color-gray-middle4;

      .main_sailing_phone {
        color: @color-blue3;
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  h1 {
    margin: 0;
  }

  .navigation, .breadcrumbs, .page-header .header.panel, .header.content, .footer.content, .page-wrapper > .widget, .page-wrapper > .page-bottom, .block.category.event, .top-container, .page-main {
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: 100%;
  }

  .header.content, .page-bottom {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }


  .header_phone_wrapper {
    display: inline-block;

    .header_phone_link {
      padding-right: 1.5rem;
      color: @color-gray-middle4;
    }
  }

  .logo {
    margin-top: -14px;
  }

  input[type="text"] {
    height: 28px;
  }

  .minicart-wrapper {
    top: 6px;
  }

  .header_phone_cart_wrapper {
    display: inline-block;
  }

  .block-search {
    display: inline-block;
    float: unset;
    padding-left: 0;
    width: 35%;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .block-search .action.search:before {
    color: @color-orange-red4;
  }

  // Main

  .main_sailing_wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
  h1 {
    margin: 0;
  }

  .logo > img {
    padding-left: 3.4rem;
  }

  input[type="text"] {
    height: 36px;
  }

  .header.content, .page-bottom {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  .header_nav_list {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;

    .header_nav_item {
      padding: 2rem 3rem 2rem 0;
      margin: 0;

      .header_nav_link {
        color: @color-sky-blue1;
      }
    }
  }

  .block-search {
    width: 43%;
    margin-left: 7rem;
    margin-right: 8rem;
  }

  .minicart-wrapper {
    top: 3px;
  }
}